[Desktop Entry]
Type=Application
Exec=syncthing --no-browser
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=syncthing
Name=synchthing
Comment[en_US]=Start synchthing on startup
Comment=Start synchthing on startup
